<div class="background-img" style="background-image: url(https://source.unsplash.com/collection/2713545/1600x400)">
</div>
<div class="container overlap-sm">
  <div class="flat-main-wrap">
    <div class="bg-grey brad-sm flat-main">
      <h1><%= @flat.name %></h1>
      <h4><%= @flat.address %></h4>
    </div>
    <div class="bg-grey brad-sm flat-info">
      <h3>A bit more about this flat...</h3>
      <p><%= @flat.description %></p>
    </div>
  </div>
  <div class="flat-booking-wrap">
    <div class="bg-grey brad-sm flat-booking">
      <h4>Book this place!</h4>
      <form action=""></form>
    </div>
    <div class="bg-grey brad-sm flat-details">
      <h3></h3>
      <div class="flex">

      </div>
    </div>
    <div class="bg-grey brad-sm flat-share flex">
      <p></p>
      <div></div>
    </div>
  </div>
</div>
