<div class="background-img">
</div>
<div class="container overlap-sm">
  <div class="flat-main-wrap">
    <div class="flatmain">
      <h1></h1>
      <h4></h4>
    </div>
    <div class="flat-info">
      <h3></h3>
      <p></p>
    </div>
  </div>
  <div class="flat-booking-wrap">
    <div class="flat-booking">
      <h4></h4>
      <form action=""></form>
    </div>
    <div class="flat-details">
      <h3></h3>
      <div class="flex">

      </div>
    </div>
    <div class="flat-share flex">
      <p></p>
      <div></div>
    </div>
  </div>
</div>
