.btn-small {
  padding: 4px 12px;
  &:hover {
    color: white;
    text-decoration: none;
    outline: none;
  }
}

.transp-blue {
  border: 2px solid #3B91FC;
  color: #3B91FC;
  &:hover {
    background-color: #3B91FC;
  }
}

.transp-green {
  background-color: transparent;
  border: 2px solid green;
  color: green;
  &:hover {
    background-color: green;
  }
}

