.airbnb-navbar{
  background: rgba(0,0,0,0.1);
  height: 50px;
  position: top;
  position: sticky;
  margin: 0;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-home {
  margin: 0;
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: none !important;
  }
}

.navbar-action {
  a, button {
    margin-left: 5px;
  }
}
